* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #423f2e;
  --clr-secondary: #1e1e1e;
  --clr-font: white;

  --header-font: "Italiana", sans-serif;
  --header-font-secondary: "Kite One", sans-serif;
}

main {
  height: 100svh;
  overflow: hidden;
  color: var(--clr-font);
}

section {
  height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

p,
a,
li,
button {
  font-family: "Inter", sans-serif;
}